body{
    text-align: center;
    background-color: black;
}
.infoone{
    color: rgb(53, 255, 53);
    text-align: center;
}
.infotwo{
    text-align: center;
    color: RED;
}
img{
    height: 40rem;
    width: 100%;
}
ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}